body {
    background-image: linear-gradient(135deg, #f5f1ee 0%, #7c7570 100%);

}

.main-title {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 7px;

    padding:40px;
    padding-top:30px;
    align-items: center;
    text-align: center;

}
#zoom-in{
    cursor:zoom-in;
}
#zoom-out{
    cursor:zoom-out;
}
.nav{
    background-color: black;
}
.gallery{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.gallery img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
    width: 80%;
}
/**
.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    /**background: #000;**/
    /**
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}
**/

.gallery .col {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .materialbox-caption {
         width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
         width: 70%;
    }
}